name: Python

on:
  push:
    branches: [ "main" ]
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # tag=v6.0.0

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # tag=v6.0.0
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          make python_project_setup
          # We need to separately mock install our python library
          cd synpy
          pip install .
          pip install "synpy[all]"
          cd ..

      - name: Run pre-commit hooks
        run: pre-commit run -a

      - name: Run security checks
        run: make python_sec

      - name: Run tests
        run: pytest synpy/integration_tests
