name: Python

on:
  push:
    branches: [ "main" ]
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag=v6.0.2

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # tag=v6.1.0
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          make python_project_setup
          # We need to separately mock install our python library
          cd synpy
          pip install .
          pip install "synpy[all]"
          cd ..

      - name: Run pre-commit hooks
        run: pre-commit run -a

      - name: Run security checks
        run: make python_sec

      - name: Run tests
        run: pytest synpy/integration_tests
