name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag=v6.0.1
      - name: List all files
        run: ls -a
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # tag=v6.1.0
        with:
          python-version: '3.12'
      - name: Install rust
        uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # tag=v1.0.7
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Install dev dependencies
        run: pip install -r requirements.txt
      - name: Run pre-commit hooks
        run: pre-commit run -a
      - name: Build Rust
        run: make build
      - name: Run tests
        run: make test
